body {
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(0,190,185);
	background: linear-gradient(90deg, rgba(0,190,185,1) 0%, rgba(94,206,99,0.9587185215883228) 49%, rgba(0,212,255,1) 100%);
	color: #666666;
}

h1{
	color: greenyellow;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: x-large;
	font-variant: small-caps;
	text-transform: capitalize; 
}

#copyright{
	color:  #FFFFFF;
	font-size: x-small;
}

#allPage{
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
	border:  2px solid #6B6B00;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #666666;
	padding: 6px;
}

